@font-face {
  font-family: notoRegular;
  src: url(/Noto_Serif/NotoSerif-Regular.ttf);
}
@font-face {
  font-family: notoBold;
  src: url(/Noto_Serif/NotoSerif-Bold.ttf);
}
@font-face {
  font-family: notoItalic;
  src: url(/Noto_Serif/NotoSerif-Italic.ttf);
}
@font-face {
  font-family: notoBoldItalic;
  src: url(/Noto_Serif/NotoSerif-BoldItalic.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: notoBold;
}
body {
  height: 100vh;
  width: 100vw;
  scroll-behavior: smooth;
  gap: 1em;
  overflow-x: hidden;
}
nav {
  display: flex;
  height: 60px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: #ffffff;
  top: 0;
  left: 0;
  right: 0;
  position: sticky;
  background-color: #1b1b1b;
  border-bottom: 2px solid black;
  transition: background-color 500ms;
  overflow: hidden;
}
nav > p {
  float: left;
  margin-left: -300px;
  font-family: notoBold;
  font-size: 1.2em;
}
nav > ul {
  display: flex;
  position: relative;
  float: right;
  margin-right: -300px;
  text-align: center;
  flex-direction: row;
  text-decoration: none;
  gap: 1em;
}
nav ul > li {
  list-style: none;
  text-align: center;
}
nav ul > li a {
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  font-family: notoBold;
  font-size: 1.2em;
}
nav ul li a:visited {
  color: darkorange;
  background: rgb(255, 255, 255);
  border-radius: 3px;
}
nav ul li a:hover {
  color: #111;
  background: rgb(255, 255, 255);
  border-radius: 3px;
}
nav ul li a:active {
  color: darkgoldenrod;
}
main {
  display: grid;
  place-content: center;
  background-position: center;
  background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/symptoms1.jpg);
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
  color: #eee;
  font-family: notoBold;
  padding-top: 15px;
}
section p{
  text-align: center;
  font-family: notoBoldItalic;
  font-size: 1.8em;
  color: yellow;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  width: 100%;
  margin: 5% auto;
  display: flex;
  flex-direction: row;
  align-items: justify;
  align-content: justify;
}
.card {
  display: grid;
  width: 30%;
  grid-template-rows: max-content 50px 1fr;
  border-radius: 3px;
  grid-row-gap: 1px;
  box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.2),
    inset -3px -3px 5px rgba(255, 255, 255, 0.1),
    1px 3px 3px rgba(0, 0, 0, 0.3), -3px -3px 3px rgba(255, 255, 255, 0.1);
  padding: 10 10px;
  border-radius: 15px;
  transition: .5s;
  overflow: hidden;
  float: left;
}
.card > :nth-child(2) {
  margin-top: -3px;
}
.card > * {
  display: block;
}
.card img {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.card h2 {
  margin: 0;
  padding: 3px;
  font-family: notoBoldItalic;
  font-size: 2em;
}
.card .content {
  padding: 2px;
}
.card .heading {
  margin-top: -8px;
  color: yellow;
  border: none;
  margin-bottom: 0;
}
.card .main-content {
  background-color: #2a2b2f;
  padding-left: 5px;
}
